n8n-stripe-workflow.json
{
  "name": "QR Studio - Stripe Checkout",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-checkout-session",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "create-checkout-session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payment_method_types[]",
              "value": "card"
            },
            {
              "name": "mode",
              "value": "payment"
            },
            {
              "name": "line_items[0][price_data][currency]",
              "value": "usd"
            },
            {
              "name": "line_items[0][price_data][product_data][name]",
              "value": "QR Code Download"
            },
            {
              "name": "line_items[0][price_data][product_data][description]",
              "value": "High-quality QR code in PNG, SVG, and JPEG formats"
            },
            {
              "name": "line_items[0][price_data][unit_amount]",
              "value": "199"
            },
            {
              "name": "line_items[0][quantity]",
              "value": "1"
            },
            {
              "name": "allow_promotion_codes",
              "value": "true"
            },
            {
              "name": "metadata[qr_type]",
              "value": "={{ $json.body.metadata.qr_type || 'url' }}"
            },
            {
              "name": "metadata[qr_size]",
              "value": "={{ $json.body.metadata.qr_size || '800' }}"
            },
            {
              "name": "metadata[dots_style]",
              "value": "={{ $json.body.metadata.dots_style || 'square' }}"
            },
            {
              "name": "metadata[corners_style]",
              "value": "={{ $json.body.metadata.corners_style || 'square' }}"
            },
            {
              "name": "metadata[fg_color]",
              "value": "={{ $json.body.metadata.fg_color || '#000000' }}"
            },
            {
              "name": "metadata[bg_color]",
              "value": "={{ $json.body.metadata.bg_color || '#ffffff' }}"
            },
            {
              "name": "success_url",
              "value": "={{ $json.body.successUrl || 'https://qrgen.studio?payment=success' }}"
            },
            {
              "name": "cancel_url",
              "value": "={{ $json.body.cancelUrl || 'https://qrgen.studio?payment=cancelled' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "stripe-request",
      "name": "Create Stripe Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "STRIPE_AUTH_ID",
          "name": "Stripe API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { sessionId: $json.id, url: $json.url } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-webhook",
        "options": {}
      },
      "id": "webhook-stripe",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 600],
      "webhookId": "stripe-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.type }}",
              "value2": "checkout.session.completed"
            }
          ]
        }
      },
      "id": "if-payment",
      "name": "If Payment Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true } }}",
        "options": {}
      },
      "id": "respond-webhook-2",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Stripe Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Stripe Session": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "If Payment Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Payment Success": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "2"
}